@import url('https://fonts.googleapis.com/css2?family=Besley:ital,wght@0,400;1,900&display=swap');
body 
{
  font-family: Besley, serif;
}
.header 
{
  display: flex;
  background-color: grey;
  justify-content: space-between;
  padding: 8px;
}
.left, .right
{
  display: flex;
  align-items: center;
  gap: 8px;
}
ul
{
  display: flex;
  gap: 8px;
  color: white;
}
.store
{
  padding-right: 50px;
}
